body {
    font-family: Arial;
}
.box {
    border: 2px solid black;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: grey;
}

p {
    color: red;
} 

#clear1, #clear2 {
    background-color: lightgray;
    border: 1px solid black;
}

li {
    color: black;
}

#toggle {
    background: red;
    color: white;
}